# All files that are included in this file are ignored.

#User/Machine Specific Visual Studio Files
*.suo
*.user
**/*.sln.ide/**

#Products of Builds
*.nupkg
*.dll
*.exe
*.pdb
*.cache
*.Cache
*.resources
*.FileListAbsolute.txt
**/bin/**
**/obj/**
